			@import url(http://fonts.googleapis.com/css?family=Voltaire);
			@import url(http://fonts.googleapis.com/css?family=Josefin+Sans:600,600italic,700);
			@import url(http://fonts.googleapis.com/css?family=Merriweather);
			
			body {
				font-size: 100%;
				font-family: Helvetica, Arial, Sans-Serif;
				color: #000000;
				text-align: left;
				background: url(/flyhh/images/Floortilesmall2.jpg);
				background-attachment: fixed;
				}


			p {
				
				font-family: 'Merriweather', sans-serif;
				color: #000000;
				font-size:14px;
				line-height:19px;
				text-align: left;
			
				}
			

			h1 {
				font-family: 'Josefin Sans', sans-serif;
				font-style:normal;
				color:#000000;
				font-size:24px;
				line-height:32px;
				text-decoration:none;
				letter-spacing:2px;
				}
	
			h2 {
				font-family: 'Josefin Sans', sans-serif;
				color: #9f6943;
				font-size:18px;
				line-height:22px;
				text-align: left;
				font-style:700;
				letter-spacing:1px;
				}
	
			hr {
				height: 1px;
				background-color: #000000;
				margin-top:30px;
				margin-bottom:30px;
				}
	
			

			#wrapper {
				width: 1124px;
				margin: 0 auto;
				}
			
			#sidebar {
				width: 210px;
				float: left;
				}
				
				#content2 {
				background-color: white;
				color: black;
				font-size: .8em;
				margin-left: 210px;
				width: 728px;
				padding-top:35px;
				padding-bottom:25px;
				padding-right:30px;
				padding-left:30px;
				border: 4px black;
				-moz-border-radius: 25px;
				-webkit-border-radius: 25px;
				}
				
			#content {
				background-color:#f6f5eb;
				color: black;
				margin-left: 210px;
				width: 728px;
				padding-top:20px;
				padding-bottom:25px;
				padding-right:30px;
				padding-left:30px;
				border: 2px solid black;

				
				}
				
					#content2 {
				background-color: white;
				color: black;
				margin-left: 210px;
				width: 728px;
				padding-top:35px;
				padding-bottom:25px;
				padding-right:30px;
				padding-left:30px;
				border: 4px black;
				-moz-border-radius: 25px;
				-webkit-border-radius: 25px;
				
				}
		
		
				#content.li p {
				font-family: 'Merriweather', sans-serif;
				color: #000000;
				font-size:14px;
				line-height:18px;
				text-align: left;
				
				}	
		
			#navigation {
				
				margin: 0px;
				padding: 0px;
				text-align:left;
				list-style-type: none;
				position: relative;
			
				}
			
			#navigation li {
				list-style-type: none;
				display: block;
				margin-left: 45px;
			
				}
				
			#navigation li a{
				font-family: 'Voltaire', sans-serif;
				font-style:normal;
				color:#000000;
				font-size:20px;
				line-height:28px;
				text-decoration:none;
				letter-spacing:2px;
				}	
				
				
			#navigation li a:hover {color:#FFFFFF; background-color: #000000;}
			#navigation li a:active {color:#FFFFFF; background-color: #000000;}
		/*
			#welcome a, #location a, #instructors a, #classes a, #evenings a, #accomodation a, #travel a, #register a, #faq a, #newsletter a, #about a, #contact a{
				display: block;
				width: 210px; height: 32px;
				margin: 0px;
				text-decoration: none;
				}
		
		
		
			#navigation {
				padding-left:10px;
				font-size:1.3em;
				line-height:110%;
				letter-spacing:2px;
				text-align: left;
		
			
				}
				
			#navigation li {
				list-style-type: none;
				display: block;
				margin: 0px;
				}
		
			#welcome a, #location a, #instructors a, #classes a, #evenings a, #accomodation a, #travel a, #register a, #faq a, #newsletter a, #about a, #contact a{
				display: block;
				width: 210px; height: 32px;
				margin: 0px;
				text-decoration: none;
				}
		
			a i {
				visibility: hidden;
				}
			
			#welcome a:hover {
				background-image: url(navmenu.png);
				background-position: 0px -416px;
				background-repeat: no-repeat;
				}
			
			#location a:hover {
				background-image: url(navmenu.png);
				background-position: 0px -448px;
				background-repeat: no-repeat;
				}
				
			#instructors a:hover {
				background-image: url(navmenu.png);
				background-position: 0px -480px;
				background-repeat: no-repeat;
				}

			#classes a:hover {
				background-image: url(navmenu.png);
				background-position: 0px -512px;
				background-repeat: no-repeat;
				}	
				
			#evenings a:hover {
				background-image: url(navmenu.png);
				background-position: 0px -544px;
				background-repeat: no-repeat;
				}	
				
			#accomodation a:hover {
				background-image: url(navmenu.png);
				background-position: 0px -576px;
				background-repeat: no-repeat;
				}

			#travel a:hover {
				background-image: url(navmenu.png);
				background-position: 0px -608px;
				background-repeat: no-repeat;
				}	
				
			#register a:hover {
				background-image: url(navmenu.png);
				background-position: 0px -640px;
				background-repeat: no-repeat;
				}

			#faq a:hover {
				background-image: url(navmenu.png);
				background-position: 0px -672px;
				background-repeat: no-repeat;
				}	
			
			#newsletter a:hover {
				background-image: url(navmenu.png);
				background-position: 0px -704px;
				background-repeat: no-repeat;
				}	
			
			#about a:hover {
				background-image: url(navmenu.png);
				background-position: 0px -736px;
				background-repeat: no-repeat;
				}
			
			#contact a:hover {
				background-image: url(navmenu.png);
				background-position: 0px -768px;
				background-repeat: no-repeat;
				}
			
		*/		
		
				/* nur für img mit class left */
			img.left {
				padding-top:0px;
				padding-bottom:5px;
				padding-right:20px;
				padding-left:0px;
				max-width: 100%;
				border: 30px;
				float: left;
				}
			
			img.right {
				padding-top:0px;
				padding-bottom:5px;
				padding-right:0px;
				padding-left:20px;
				max-width: 100%;
				border: 30px;
				float: right;
				}
			
						
			p.headblock {
				padding-left:5px;
				font-size:1.7em;
				line-height:96%;
				letter-spacing:2px;
				}
				
		    p.headblock2 {
				padding-left:5px;
				font-size:1em;
				line-height:110%;
				letter-spacing:3px;
				}
			
			p.smaller_font {
				padding-left:5px;
				font-size:.9em;
				line-height:110%;
				}
				
			
			
			#content p {
				margin:0 0 20px 0;
				}
			
			a img {
					border: none;
					}
					
	
		
			
			
			a:link {text-decoration: none; color: Black ;}
			a:visited {text-decoration: none; color: Black ;}
			a:active {text-decoration: none;color: DimGray  }
			a:hover {text-decoration: none; color:SlateGray  ;}
			
			 